@font-face {
    font-family: 'codefont';
    src: url('fonts/JetBrainsMono-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'codefont';
    src: url('fonts/JetBrainsMono-Italic.woff2') format('woff2');
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: 'customfont';
    src: url('fonts/noto-sans-jp-v54-japanese_latin-900.woff2') format('woff2');
    font-weight: 900;
}
@font-face {
    font-family: 'customfont';
    src: url('fonts/noto-sans-jp-v54-japanese_latin-800.woff2') format('woff2');
    font-weight: 800;
}
@font-face {
    font-family: 'customfont';
    src: url('fonts/noto-sans-jp-v54-japanese_latin-700.woff2') format('woff2');
    font-weight: 700;
}
@font-face {
    font-family: 'customfont';
    src: url('fonts/noto-sans-jp-v54-japanese_latin-600.woff2') format('woff2');
    font-weight: 600;
}
@font-face {
    font-family: 'customfont';
    src: url('fonts/noto-sans-jp-v54-japanese_latin-500.woff2') format('woff2');
    font-weight: 500;
}
@font-face {
    font-family: 'customfont';
    src: url('fonts/noto-sans-jp-v54-japanese_latin-regular.woff2') format('woff2');
    font-weight: 400;
}
@font-face {
    font-family: 'customfont';
    src: url('fonts/noto-sans-jp-v54-japanese_latin-300.woff2') format('woff2');
    font-weight: 300;
}
@font-face {
    font-family: 'customfont';
    src: url('fonts/noto-sans-jp-v54-japanese_latin-200.woff2') format('woff2');
    font-weight: 200;
}
@font-face {
    font-family: 'customfont';
    src: url('fonts/noto-sans-jp-v54-japanese_latin-100.woff2') format('woff2');
    font-weight: 100;
}

:root {
  --r-main-font: customfont;
  --r-heading-font: customfont;
  --r-code-font: codefont;

  --col-subtle: #555;
  --col-tinted: #777;
  --col-highlight: #C00000;
}

.reveal {
    .fragment {
        transition: none;
    }
}

.slides {
    .weak {
        font-weight: 100;
        font-size: var(--r-main-font-size);
    }
    .weaker {
        font-weight: 300;
        font-size: max(0.9em,32px);
    }
    .bigger{
        font-size: 1.1em;
    }
    .highlight{
        color: var(--col-highlight);
    }
    .subtle{
        color: var(--col-subtle);
    }
    .tinted{
        color: var(--col-tinted);
    }
    .left{
        float: left;
    }
    .columns-2x1{
        display:grid;
        grid-template-columns: 50% 50%;
        place-items: center;
    }
    .columns-3x1{
        display:grid;
        grid-template-columns: auto auto auto;
        place-items: center;
    }
    /*
    .code {
        color: #cccccc;
        font-family: var(--r-code-font);
        font-weight: normal;
        font-size: 14px;
        line-height: 1.25em;
        text-align: left;
        width: fit-content;
    }
    */
    .occasion {
        padding-top: 1em;
        display: grid;
        grid-template-columns: auto 3px auto;
        grid-template-rows: minmax(1.5em, auto);
        gap: 0.5em;
        align-items: center;
        font-size: 0.75em;

        time {
            grid-column: 1;
            text-align: right;
        }
        &::after {
            content: "";
            grid-column: 2;
            grid-row: 1;
            background-color: var(--col-subtle);
            width: 100%;
            height: 100%;
        }
        .event {
            grid-column: 3;
            text-align: left;
        }
    }
    .profile-urls {
        li {
            margin-bottom: 0.5em;
            list-style: none;
            display: grid;
            grid-template-columns: 2em auto;
            grid-template-rows: 1.5em;
            gap: 0.5em;
            font-size: 32px;
            align-items: center;
        }
        li::before {
            content: '';
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            align-self: normal;
        }
        .icon-github::before {
            background-image: url("imgs/profile/github.svg");
        }
        .icon-x::before {
            background-image: url("imgs/profile/x.svg");
        }
        .icon-zenn::before {
            background-image: url("imgs/profile/zenn.svg");
        }
        .icon-connpass::before {
            background-image: url("imgs/profile/connpass.svg");
        }
        .icon-sessionize::before {
            background-image: url("imgs/profile/sessionize.svg");
        }
    }
}

.reveal {
    /*
    pre {
        margin-top: 10px;
        box-shadow: none;
    }

    pre code {
        color: #D4D4D4;
        font-family: var(--r-code-font);
        font-size: 21px;
        line-height: 1.25;
        overflow: visible;

        tab-size: 4;
        padding: 0;

        max-height: 100%;
    }

    code ol {
        display: grid;
        margin: 0;
        padding: 0;
        li::marker {
            content: counters(list-item,'.') '  ';
            color: #6e7681;
        }
    }

    code .highlight {
        color: inherit;
    }

    code ol:has(.fragment.highlight.current-fragment) li:not(.fragment.highlight.current-fragment) {
        opacity: 0.4;
    }
    code ol:has(.force-highlight) li:not(.force-highlight) {
        opacity: 0.4;
    }

    code li.fragment.highlight.current-fragment:has(.spot) :not(.spot) {
        opacity: 0.4;
    }
    code li.force-highlight:has(.spot) :not(.spot) {
        opacity: 0.4;
    }

    code .fragment.highlight.current-fragment::marker {
        color: #cccccc;
    }
    code .force-highlight::marker {
        color: #cccccc;
    }

    :has(.current-fragment) .dim {
        opacity: 0.4;
    }
    */
}

.red-text{
    color: var(--col-highlight);
}

.arrowlist {
    li {
        margin-left: 1em;
    }
    li::marker {
        content: "↳ ";
        padding-left: 1em;
    }
}
